body {
  margin: 0;
  padding: 0;
  background-color: #050830;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border-radius: 5%;
  border: 2px solid #f39c12;
  box-shadow: 0px 0px 20px rgb(255, 1, 1);
  background-color: #babc9e;
  max-width: 100%;
}


.heading {
  font-family: caveat;
  font-size: 5vw;
  margin: 0;
  color: beige;
  font-weight: bold;
}

#game-over {
  font-size: 2rem;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
  display: none;
}

@media (max-width: 811px) {
  .heading {
      font-size: 1.5rem;
      margin: 0 -10px 20px -10px;
  }

  canvas {
      max-width: 90%;
  }

  #game-over {
      font-size: 1.2rem;
  }
}
